.header {
  min-height: 96px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Poppins", sans-serif;
  a {
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    //line-height: 27px;
    //margin-right: 1.5rem;
    width: 79px;
    //min-height: 48px;
  }

  a:hover {
    color: rgb(89, 89, 89);
    transition: ease-in-out 0.3s;
  }
}
